/* ========================= ШРИФТИ =============================== */

/*------------------- Підключення шрифтів ------------------------- */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&display=swap');
/* Підключення вручну */
/* @import url("fonts.css"); */

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */

body {
	font-family: "Inter", sans-serif;
	/* За замовченням "Times New Roman" */
	font-size: 18px;
	/* За замовченням 16px */
	color: #7d7d7d;
	/* За замовченням #000000 */
}

h1 {
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	color: black;
	text-decoration: underline;
	text-shadow: 5px 5px 2px rgba(237, 101, 10, 0.882);
	text-transform: uppercase;
	line-height: 1.5;
	/* letter-spacing: 10px; */
	/* word-spacing: 5px; */
	text-indent: 30px;
	/* white-space: nowrap; */
}

.hero__text1 {
	font-size: 20px;
	font-weight: 400;
	text-align: left;
	text-decoration: underline;
	word-spacing: 3px;
}

h2 {
	font-size: 20px;
	font-weight: 600;
	color: #6B77E5;
	line-height: 1.27;
	text-indent: 10px;
	letter-spacing: 10px;
}

.hero__text2 {
	line-height: 1.5;
	word-spacing: 10px;
	letter-spacing: 5px;
	font-family: Roboto;
	text-decoration: underline dotted 3px red;
}

ul {
	line-height: 2;
}

li {
	color: yellow
}

ol {
	line-height: 1.5;
}

.hero__text3 {
	line-height: 1.2;
	text-shadow: 2px 5px 1px green;
	letter-spacing: 2px;
	color: blue;
	text-align: center;
}

.hero__text4 {
	font-family: Serif;
	font-weight: 700;
	color: chocolate;
	letter-spacing: 5px;
	line-height: 1.2;
	text-indent: 50px;
	font-size: 30px;
}