/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {}

main {
    padding: 30px;
}

.block {
    padding: 20px;

    /* Окремі властивості */

    /* Визначає колір фону елемента */
    /* background-color: green; */
    /* background-color: transparent; */

    /* 
	Встановлює фонове зображення елемента 
	або задає градієнтну заливку 
	!! Фонове зображення НЕ встановлює розміри об'єкту
	*/
    /* background-image: url("../img/honey.jpg"); */
    /* background-image: linear-gradient(90deg, #ff3f3a 0%, #3a3dff 50%, #f75e05 100%); */

    /* Визначає, як повторюватиметься фонове зображення та градієнту */
    /* background-image: url("../img/image-01.jpg"); */
    /* background-image: url("../img/repeat.jpg"); */

    /* (за замовченням) */
    /* background-repeat: repeat; */
    /* Не повторяти */
    /* background-repeat: no-repeat; */
    /* Повтор по горизонталі */
    /* background-repeat: repeat-x; */
    /* Повтор по вертикалі */
    /* background-repeat: repeat-y; */

    /*
	Задає початкове положення фонового зображення та градієнту,
	де перше значення (відсотки, px, слово) 
	визначає розташування по горизонталі,
	друге – вертикалі.

	0 0 (або left top) - за замовченням 
	center
	top
	left 
	bottom
	right
	*/
    /* background-position: горизонталь вертикаль */

    /* background-image: url("../img/honey.jpg"); */
    /* background-repeat: no-repeat; */

    /* background-position: 0 0; */

    /* 
	Значення у відсотках:
	Горизонтальне залежить від ширини об'єкту
	Вертикальне від висоти об'єкту
	Значення 50% (center) розмістить зображення таким чином, 
	що центральна точка зображення буде співпадати 
	з центральною точкою об'єкту
	*/

    /* 
	Встановлює, чи прокручуватиметься 
	фонове зображення та градієнт разом із вмістом елемента.

	scroll - (за замовченням) скролиться разом з блоком
	fixed - фонове зображення НЕ скролиться разом з блоком
	(зображення позіціонується відносно в'юпорту)
	*/
    /* background-attachment: fixed; */

    /*
	Масштабує фонове зображення та градієнт згідно з заданими розмірами. 
	У цифрах, де перше значення (відсотки, px) визначає ширину,
	друге – висоту. Або спеціальним значенням.

	contain - Масштабує зображення зі збереженням пропорцій таким чином, 
	щоб картинка повністю помістилася всередину блоку. 
	Тобто щонайменше картинки
	cover - Масштабує зображення зі збереженням пропорцій так, 
	щоб його ширина або висота дорівнювала ширині або висоті блоку. 
	Тобто з більшого боку картинки
	*/
    /* background-size: ширина висота */
    /* background-size: auto auto; (за замовченням) */

    /* Задаємо ширину */
    /* background-size: 200px; */

    /* Задаємо висоту */
    /* background-size: auto 200px; */

    /* background-size: 50%; */
    /* background-size: auto 50%; */

    /* background-size: cover; */
    /* background-position: left center; */

    /* 
	Універсальна властивість - background
	Властивість background
	Ця універсальна CSS властивість дозволяє одночасно 
	задати кілька параметрів фону,
	а саме визначити колір,  встановити фонове зображення, 
	задати початкове положення фонового зображення,
	визначити як повторюватиметься фонове зображення, 
	встановити чи прокручуватиметься фонове зображення 
	разом із вмістом і масштабувати фонове зображення 
	відповідно до заданих розмірів.
	Також значенням властивості background може 
	бути вказана градієнтна заливка фону.
	*/

    /* background: green url("../img/honey.jpg") 0 0 / auto no-repeat scroll; */
    /* background: green linear-gradient(90deg, #ff3f3a 0%, #3a3dff 50%, #f75e05 100%) center / 20% 10% no-repeat; */

    /* Мультіфони */
    /* 
	background:
		url("../img/honey.jpg") 0 0 / 200px no-repeat,
		url("../img/image-01.jpg") 50% / 500px no-repeat,
		linear-gradient(90deg, #ff3f3a 0%, #3a3dff 50%, #f75e05 100%);
	*/
}

/* Для рядкових елементів працює неочікувано */
.inline {
    /* background: url("../img/image-01.jpg") 0 0 repeat; */
}

/* Практика */

.list {}

.list__item {
    /* Для прикладу */
    outline: 1px solid red;

    font-family: "Poppins", sans-serif;
    color: #37393f;
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 23px;

    /* Внутришній відступ */
    padding-left: 35px;

    background: url("../img/li.svg") 0 3px no-repeat;

    /* 
	Надійність, якщо висота зображення 
	меньша за line-height (один рядок тексту) 
	*/
    min-height: 30px;
}