/* Скидання стилів */
@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter&family=PT+Serif:ital,wght@0,700;1,400&family=Poppins:wght@600&display=swap');

/* Основні стилі */
body {
	padding: 50px;
	width: 800px;
}

.image1 {
	width: 100%;
	height: 450px;
	margin-bottom: 37px;

}

h1 {
	color: #37393F;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 3px;
}

.block1 {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 42px;
}

h2 {
	color: #6B77E5;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 12px;
}

.block2 {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 40px;
}

.image2 {
	margin-right: 29px;
}

.item__item {
	color: #37393F;
	font-family: Poppins;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 15px;
}

.item_description {
	color: #40DDB6;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin: 0px 0px 21px 0;
}

.flex {
	display: flex;
	/* Нічого кращого не придумав*/
}

.vector__list1,
.vector__list2,
.vector__list3 {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	margin-bottom: 30px;
}

.hero {
	padding-top: 50px;
	width: 1600px;
	display: flex;
	/* Нічого кращого не придумав*/
}

.hero_container {
	width: 563px;
	height: 476px;
	margin-right: 38px;
}

.hero_text {
	color: #D06B00;
	font-family: Inter;
	font-size: 28px;
	text-transform: uppercase;
	margin: 10px 13px 10px 0px;
}

.hero_title {
	color: #0E333D;
	font-family: DM Serif Text;
	font-size: 59px;
	line-height: 1.46;


}

.hero_discription {
	color: #474747;
	font-family: Inter;
	font-size: 20px;
	line-height: 1.8;
}

.hero_image img {
	margin-right: 22px;
}